.ProductPage {
    margin-top: 7rem !important;
}

.container {
    flex-wrap: wrap;
}

.row {
    width: 100%;
}

.navbar {
    background: #a5e4a5; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #a5e4a5, #7ed2ea);
    background: -moz-linear-gradient(right, #a5e4a5, #7ed2ea);
    background: -o-linear-gradient(right, #a5e4a5, #7ed2ea);
    background: linear-gradient(to left, #a5e4a5, #7ed2ea); /* Chrome 10-25, Safari 5.1-6 */
}

.navbar-toggler {
    font-size: 15px;
}

.far, .fa, .fas {
    font-size: 15px;
    margin: 0.35rem;
    padding: 0;
}

.fa-heart {
    color: #f1356b;
}

.fa-user {
    color: #200cdc;
}

.fa-shopping-basket {
    color: blue;
}

.search_box {
    justify-content: center;
}

.search_input:hover {
    min-width: 100px;
    border-color: #ccc;
}

.search_input {
    background-color: white;
    border-color: #ccc;
}

.search_button:hover {
    background-color: transparent;
}

.search_button {
    background-color: white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-color: #ccc;
}

.show > .dropdown-menu {
    display: block;
    background: linear-gradient(to left, #a5e4a5, #7ed2ea);
}

.img-fluid {
    width: 300px;
    height: 300px;
    border: 1px solid rgba(0,0,0,.15);
    z-index: 1;
}

.login_button {
    background-color: transparent;
    border-color: #dddddd;
    border-radius: 100px;
}

.login_button {
    background-color: transparent;
    border-color: transparent;
    border-radius: 48px;
}

.signup_button {
    background-color: #FF7043;
    border-color: #FF7043;
    border-radius: 16px;
}

.favorites_button {
    background-color: transparent;
    border-color: transparent;
    border-radius: 48px;
}

.myorders_button {
    background-color: transparent;
    border-color: transparent;
    border-radius: 48px;
}

.ProductPageBox {
    display: flex;
    flex-direction: row;
}

.ProductPageBox :nth-child(1) {
    order: 1;
}

.ProductPageBox :nth-child(2) {
    order: 2;
}

.ProductPageBox :nth-child(3) {
    order: 3;
}

@media screen and (max-width: 351px) {
    .ProductPage {
        margin-top: 12rem !important;
    }

    .nav_top {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .ProductPageBox :nth-child(1) {
        order: 1;
    }

    .ProductPageBox :nth-child(2) {
        order: 2;
    }

    .ProductPageBox :nth-child(3) {
        order: 3;
    }

    .navbar-brand {
        display: none;
    }

    .img_logo {
        max-width: 30px;
        height: 30px;
    }

    .search_input {
        min-width: 100px;
    }

    .container {
        padding: 0px;
    }
}

@media screen and (min-width: 352px) and (max-width: 576px) {
    .ProductPage {
        margin-top: 12rem !important;
    }
    
    .ProductPageBox :nth-child(1) {
        order: 1;
    }

    .ProductPageBox :nth-child(2) {
        order: 2;
    }

    .ProductPageBox :nth-child(3) {
        order: 3;
    }

    .nav_top {
        text-align: center;
        justify-content: center;
    }

    .navbar-brand {
        display: none;
    }

    .search_input {
        min-width: 100px;
    }

}

@media screen and (min-width: 577px) and (max-width: 767px) {
    .ProductPage {
        margin-top: 12rem !important;
    }

    .ProductPageBox :nth-child(1) {
        order: 1;
    }

    .ProductPageBox :nth-child(2) {
        order: 2;
    }

    .ProductPageBox :nth-child(3) {
        order: 3;
    }

    .search_input {
        min-width: 50px;
    }
}

@media screen and (min-width: 768px) and (max-width: 994px) {
    .ProductPage {
        margin-top: 9rem !important;
    }

    .ProductPageBox :nth-child(1) {
        order: 1;
    }

    .ProductPageBox :nth-child(2) {
        order: 2;
    }

    .ProductPageBox :nth-child(3) {
        order: 3;
    }

    .search_box {
        justify-content: flex-end;
        text-align: right;
    }

    .search_input {
        min-width: 50px;
    }

}

@media screen and (min-width: 995px) {
    .ProductPage {
        margin-top: 9rem !important;
    }

    .ProductPageBox :nth-child(1) {
        order: 1;
    }

    .ProductPageBox :nth-child(2) {
        order: 2;
    }

    .ProductPageBox :nth-child(3) {
        order: 3;
    }

    .search_box {
        padding-top: 10px;
        justify-content: flex-end;
        text-align: right;
    }

    .search_input {
        min-width: 200px;
    }
}
